In [15]:
## Dynamic Typing examples

In [15]:
a = 10

In [19]:
type(a)

int

In [20]:
b = '10'

In [22]:
type(b)

str

In [27]:
## Typecasting examples

In [29]:
# Data types with no entered value in it would be zero (shift + tab to know the function)
int()

0

In [35]:
# If this data type contain numbers so it will be execute or else give you the error
int(72)

72

In [37]:
# If this data type include number so it will be execute or else give you the error
int('72')

72

In [39]:
## If this data type include number so it will be execute or else give you the error
int(abcd)

NameError: name 'abcd' is not defined

In [41]:
## If this data type include number so it will be execute or else give you the error
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [42]:
## Types of printing

In [44]:
#1. 
print('Hello World')

Hello World

In [48]:
#2.
age = 22
print('My age is:',age)

My age is: 22

In [49]:
#3. f string 
print(f'My age is {age}')

My age is 22

In [53]:
#4. Format()
Name = 'Tufail'
Age = 22
print('My name is {} & My age is {}'.format(Name, age)) # execute in order wise, to make it random use below by using variables

My name is Tufail & My age is 22

In [60]:
#5.Placeholder
print('My name is {a} & My age is {b}'.format(a=Name, b=age)) 

# wherever python finds the value of 'name' it will give it to variable 'a' & same as 'b'

My name is Tufail & My age is 22

In [85]:
#Another example of placeholder
names =('Arif Hussain Inder  Shahbaz')
age = 22,22,25,22

In [88]:
print('{a} are my best friends because they are under {b} of age'.format (a=names, b =age))

Arif Hussain Inder  Shahbaz are my best friends because they are under (22, 22, 25, 22) of age

In [1]:
## Practice
name = 'Tufail'
age = 22
degree = 'bcom'

In [2]:
# f' / f string 
print(f'My age is {age} & i have completed my degree of {degree} with the name of {name}')

My age is 22 & i have completed my degree of bcom with the name of Tufail

In [3]:
# .format
print('my age is {a} & i have completed my degree of {b} with the name of {c}'.format(a=age, b = degree, c = name))

my age is 22 & i have completed my degree of bcom with the name of Tufail

## Control Flow
### Decision Making statements
   1. **if**
   2. **if else**
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [48]:
age = 22

In [59]:
if age<=22:
    print('He is eligible for marriage')

He is eligible for marriage

In [66]:
## Task for practice:-
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [13]:
age1 = int(input('enter your age'))
if age1 >=32 and age <=45:
    print('You are a young blood')
else:
    print('You are a old blood')

enter your age 46

You are a old blood

In [14]:
## Task 2

In [22]:
PP = int(input('Product Price'))
if PP > 1000:
    print('The product price is {}'.format(PP*0.8))
elif PP <= 1000:
    print('The product price is {}'.format(PP*0.9))

Product Price 1500

The product price is 1200.0

In [ ]:
## Task 2.O

In [74]:
PP = int(input('Product Price'))
if PP == 4000:
    print('You won a trip to GOA')
if PP > 3000:
    print('The product price is {}'.format(PP*0.8))
elif 2000 <= PP <= 3000:
    print('You,ll get a suitcase')
if PP == 2999:
    print('The product price is {}'.format(PP*0.7))
elif 1000 <= PP <= 2000:
    print('The product price is {}'.format(PP*0.6))
elif PP <1000:
    print('Nalle')

Product Price 4000

You won a trip to GOA
The product price is 3200.0

In [30]:
## Another Task with relatable example
## Employee with salary >=50000, will get 10% bonus
## Employee with salary <50000, will get 5% bomus

In [34]:
emp_sal = int(input('Your Salary'))
if emp_sal >=50000:
    print(f'Your bonus amount is {emp_sal*0.1}')
else:
    print(f'Your bonus amount is {emp_sal*0.05}')

Your Salary 49999

Your bonus amount is 2499.9500000000003

In [76]:
## Single Statement Suites (code written in single statements)
emp_sal = int(input('Your Salary'))
if emp_sal >=50000: print(f'Your bonus amount is {emp_sal*0.1}')
else:print(f'Your bonus amount is {emp_sal*0.05}')

Your Salary 50000

Your bonus amount is 5000.0

## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [1]:
##While loop / while else
age = 18
while age <=25:
    age = age+1
    print(age)
else:print('Its time for marriage')

19
20
21
22
23
24
25
26
Its time for marriage

In [1]:
# Another example
atm = 1000
while atm != 0:
    print(atm)
    atm = atm - 100
else:print('Cash Inavailable')

1000
900
800
700
600
500
400
300
200
100
Cash Inavailable